<html>
<head>
    <title>Create Form</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    h2{
        font-size: 40px;
    }
         form{
             border: 3px gold solid;
             padding: 20px;
             border-radius: 20px;
         }
         body{
             background-color: #5bff50;
         }
         a{
             font-size: 20px;
             font-family: "Arial Black";
             color: red;
         }
</style>
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-4">
            <form method="POST">
                <h2 class="text-center text-success bg-danger">Please Enter Product Data</h2>
                {% csrf_token %}
                {{ cform }}<br>
                <center>
                    <input type="submit" value="Insert" class="btn btn-success">
                    <input type="reset" value="Clear" class="btn btn-danger">
                </center>

                <center><a href="/#/">GoTo Main Page</a> </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>